.place {
  text-align: center;
}

.currentWeather__container {
  max-width: 1024px;
  display: flex;
  justify-content: center;
}

.forecast__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
}
