.place {
  text-align: center;
}
.icon {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
}

.forecast_container {
  display: flex;
  justify-content: center;
  max-width: 1024px;
}
